.coverage
subunit.log
.venv
*,cover
cover
*.pyc
.idea
*.sw?
*~
AUTHORS
build
dist
ChangeLog
run_tests.err.log
.testrepository
.tox
doc/source/api
doc/build
*.egg
*.egg-info
.eggs/*
# Files created by releasenotes build
releasenotes/build
__pycache__/
.vagrant
*console.log
.vscode
env/
